---
layout: default
---

<div id="main">
  <div class="inner">
    <h1>{{ page.title | upcase }}</h1>
    {% for paragraph in page.paragraphs %}
      <p>{{ paragraph }}</p>
    {% endfor %}
    <div class="box alt">
      <div class="row uniform">
        {% for image in page.images %}
        <div class="4u">
          <span class="image fit">
            <a href="{{ image }}" data-lightbox="projectimages">
              <img src="{{ image }}" alt="{{ page.title }}" />
            </a>
          </span>
        </div>
        {% endfor %}
      </div>
    </div>
    <p><i>{{ page.sub_summary }}</i></p>
  </div>
</div>
